body {
  font-family: "Montserrat", sans-serif;
  color: #2E2F42;
  margin: 0;
  padding: 0;
}
.nav-link {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.timer {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.04em;
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
}

.label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#datetime-picker {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  gap: 8px;
  color: #2E2F42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  padding-left: 8px;
}

button[data-start] {
  width: 75px;
  margin-top: 8px;
  padding: 8px 16px;
  color: #989898;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 8px;
  border: none;
}

button[data-start]:hover {
  background-color: #6C8CFF;
  color: #FFFFFF;
}

button[data-start]:disabled {
  background-color: #CCCCCC;
  cursor: not-allowed;
}
